{% extends "./layouts/layout.html" %}
{% block title %}{{title}}{%endblock%}
{% block content %}
<h1>About page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus a dolor aperiam porro exercitationem quod eligendi repellat tenetur, magni, accusamus reiciendis nesciunt quam asperiores. Amet ad qui voluptates eligendi asperiores error exercitationem, mollitia praesentium ducimus minus, saepe temporibus ipsam rerum consectetur dolore omnis rem consequuntur beatae aspernatur totam! Quam harum odit perspiciatis commodi repellat eaque quia, consectetur culpa, recusandae aliquid exercitationem? Eveniet, labore, nesciunt minus aliquid quod aspernatur officiis est repellat voluptates expedita excepturi ipsam? Voluptatibus id commodi ex beatae ea, nostrum odio deserunt animi facere illum voluptates atque reprehenderit totam magnam pariatur ullam natus? Voluptas aut illo repudiandae enim.</p>


<p>Developer {{username}}</p>
{%endblock%}


